<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Service</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>
      .form-group {
        display: flex;
        flex-direction: row;
      }

      .form-group label {
        flex: 0 0 150px;
        text-align: right;
        padding-right: 10px;
      }

      .form-group input {
        flex: 1;
      }
    </style>
  </head>

  <body>
    {% include 'main/navbar.html' %}
    <br />
    <div
      class="jumbotron container"
      style="border: 1px solid black; padding-top: 3%; padding-bottom: 3%"
    >
      <h3 class="text-center">Create Service</h3>
      <form action="{% url 'create_service' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="service_name">Service Name:</label>
          <input
            required
            class="form-control"
            placeholder="Service Name"
            type="text"
            id="service_name"
            name="service_name"
          />
          <br />
          <label for="service_charge">Service Charge:</label>
          <input
            required
            class="form-control"
            placeholder="Service Charge"
            type="number"
            id="service_charge"
            name="service_charge"
          />
          <br />
        </div>

        <input type="submit" value="Submit" class="btn btn-primary" />
      </form>
    </div>
    {% include 'main/footer.html' %}
  </body>
</html>
