<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jobcards</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    {% include 'main/navbar.html' %}
    <br />
    <div class="jumbotron container">
      <h3 class="text-center">Jobcards</h3>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form
            class="form-inline my-2 my-lg-0"
            action="{% url 'search_jobcard' %}"
            method="GET"
          >
            <input
              class="form-control mr-sm-2"
              type="search"
              name="search_query"
              id="search_query"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
      <br />

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Customer Name</th>
            <th>Customer Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if jobcards %} {% for jobcard in jobcards %}
          <tr>
            {% csrf_token %}
            <td>{{ jobcard.order_id }}</td>
            <td>{{ jobcard.order_date }}</td>
            <td>{{ jobcard.customer_name }}</td>
            <td>{{ jobcard.customer_phone }}</td>
            <td>
              <a
                href="{% url 'view_jobcard' jobcard.order_id %}"
                class="btn btn-primary"
                >View</a
              >
              <a
                href="{% url 'delete_jobcard' jobcard.order_id %}"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td colspan="4">No jobcards available.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    {% include 'main/footer.html' %}
    <script>
      $(document).ready(function () {
        $(document).on("input", "#search_query", function () {
          var query = $(this).val();
          $.ajax({
            url: "{% url 'search_jobcard' %}",
            type: "GET",
            data: { search_query: query },
            success: function (data) {
              $(".table tbody").html(data.html);
            },
          });
        });
      });
    </script>
  </body>
</html>
